/*.Titulo{
    float: left;
    
}
.logo{
    float: left;
}*/
body{
    /*background-color: #b2b4db;*/
    background-image:url(Fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*li*/.menu{
    float: left;
    list-style: none;
    padding: 10px;
}

nav{
    float: right;
    margin-top: 60px;
    margin-right: 50px;
}

a{
    text-decoration: none;
    font-family: fantasy;
}

header{
    background-color: #8ba9a4;
    overflow: hidden;
}

.slogan{
    font-style: italic;
    text-align: center;
}

.slider{
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 300%;

    animation: cambio 20s infinite alternate;
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width: 100%;
}

@keyframes cambio{
    0% {margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
}
h2{
    text-align: center;
}
/*----------------*/
.cantidades{
    overflow: hidden;
    /*background-color: brown;*/
    position: relative;
    width: 100%;
}
.Q{
    list-style: none;
}
.SaboresQ{
    margin-left: 200px;
    text-align: center;
    float: left;
}

.AdornosQ{
    margin-right: 200px;
    text-align: center;
    float: right;
}
/*----------------*/
.container-table{
    width: 90;
    background: white;
    margin: 50px auto;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 50px;
}

.table__title{
    grid-column-start: 1;
    grid-column-end: 7;

    background:#8ba9a4;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.9em;
}

.table__header, .table__item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__header{
    font-weight: bold;
    font-size: 1.5em;
}

.table__item{
    padding: 10px;
    /*font-size: 1.2em;*/
}
/*---------------*/
.footer{
    background-color: #303036;
    color: #d3d3d3;
    height: 130px;
    position: relative;
    overflow:hidden;
}

.footer-section-telephone{
    margin:1em;
    padding: 1em;
    float:left;
}
.footer-section-direction{
    margin: 1em;
    padding: 1em;
    float: left;
}

.footer-section-schedule{
    margin: 1em;
    padding: 1em;
    float: left;
}

